.words {
    font-family: "Gill Sans", sans-serif;
    /*text-rendering: optimizelegibility;*/
    font-weight: 200;
    text-align: center;
    color:  rgb(240, 125, 0);;
    font-size: 60px;
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 0;
    line-height: 1.4;

}

.button1 {
    /*position: relative;*/
    /*z-index: 20;*/
    color: #fff;
    text-decoration: none;
    background-color: rgb(240, 125, 0); /* Green */
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    width: 30%;

}





